In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
FBS = pd.read_csv('FoodBalanceSheets.csv', encoding='ISO-8859-1')
FBS.shape

(60943, 12)

In [3]:
FBS.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
FBS.tail()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [5]:
FBS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [20]:
FBS.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [7]:
#what is the total sum of animal fat produced in 2014 and 2017 respectively
fb = FBS.groupby(['Item'])
fb.sum()
# answer = 209460, 269617

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Item,,,,,,,,
"Alcohol, Non-Food",38447,752497,1515090,2403.00,2180.00,2223.00,2348.00,2293.00
Alcoholic Beverages,75016,1649136,2171381,102410.11,98783.72,96958.75,95581.06,97847.27
Animal Products,18060,397035,90990,11935.65,11811.73,11661.69,11547.65,11578.61
Animal fats,85279,1882494,2567303,209460.54,200675.72,183314.22,269617.53,269648.27
Apples and products,69280,1352989,1920418,9499.23,10559.15,9853.26,10198.90,9640.51
...,...,...,...,...,...,...,...,...
"Vegetables, Other",77779,1518715,2275409,155038.96,158104.08,156218.90,157752.59,163987.21
Vegetal Products,18060,391905,90990,107145.19,107064.17,106792.72,107655.20,107775.39
Wheat and products,87073,1639683,2654934,232670.13,234710.51,239377.07,240047.62,242645.19
Wine,66206,1319535,1818328,4497.36,4251.81,3872.09,4178.02,4039.32
Yams,50798,970905,1525745,200396.96,203151.78,220626.20,229174.59,221272.09

In [8]:
#what is the mean and standard devaition for the year 2015
fb = FBS['Y2015']
fb.describe()
# answer = 135.256, 1603.403

count     59395.000000
mean        135.235966
std        1603.403984
min       -3161.000000
25%           0.000000
50%           0.080000
75%           8.460000
max      181137.000000
Name: Y2015, dtype: float64

In [9]:
#what is the total number and percentage of missing data in 2016
FBS.isnull().sum()
# answer = 1535

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [10]:
#which year had the highest correlation with element code
FBS.corr()
# answer = 2014

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

In [11]:
#which year has the highest sum of import quantity
fb = FBS.groupby('Element')
fb.sum()
# answer = 2017

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [19]:
#what is the total number of production in 2014
fb = FBS.groupby(['Element'])
fb.sum().T
# answer = 19131287.75

Element,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Seed,Stock Variation,Total Population - Both sexes,Tourist consumption
Area Code,708993.00,599910.00,675050.00,176272.00,663295.00,674057.0,658446.00,688174.00,274353.0,235554.00,271940.0,526751.00,675050.00,623271.0,103537.00,571566.00,6020.0,50308.0
Item Code,14197445.00,11840553.00,13535000.00,3538507.00,13285035.00,13511060.0,13185401.00,13795966.00,5424803.0,4729749.00,5350416.0,10450053.00,13535000.00,12421089.0,2035933.00,11329527.00,112545.0,1486528.0
Element Code,28068795.00,26026133.00,3435732.00,7282199.00,25406622.00,3329296.0,3163725.00,28834929.00,10292107.0,8926728.00,10313310.0,21388191.00,3385502.00,24066350.0,4211574.00,21464704.00,22995.0,2869905.0
Y2014,1996716.35,150020.64,10225.56,216927.89,1212332.49,454257.0,49650.63,274144.48,153223.0,78718.13,282923.0,1931287.75,11836.46,30149.0,21922.92,58749.83,1031585.0,416.0
Y2015,2021493.55,157614.47,10235.74,225050.22,1232361.10,453383.0,49345.13,267018.46,155439.0,66254.41,287929.0,1947019.39,11833.95,30045.0,23976.82,34910.99,1058081.0,349.0
Y2016,2044842.70,151920.46,10102.77,228958.65,1247022.17,451810.0,48985.28,286582.78,157787.0,69563.68,280631.0,1943537.15,11779.69,37224.0,23389.20,33140.12,1085107.0,89.0
Y2017,2088198.10,182338.80,10253.84,223705.68,1258888.28,454681.0,48690.04,294559.09,160614.0,91645.97,292836.0,2030056.89,11842.45,35500.0,24870.14,54316.91,1112641.0,91.0
Y2018,2161192.10,181594.80,10258.69,233489.68,1303841.28,455261.0,49056.85,287997.09,163902.0,91300.97,308429.0,2075072.89,11833.56,34864.0,25263.14,20577.91,1140605.0,90.0

In [15]:
#which of these element had the highest sum in 2018
fb = FBS.groupby(['Element'])
fb.sum().T
# answer = domestic supply quantity

Element,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Seed,Stock Variation,Total Population - Both sexes,Tourist consumption
Area Code,708993.00,599910.00,675050.00,176272.00,663295.00,674057.0,658446.00,688174.00,274353.0,235554.00,271940.0,526751.00,675050.00,623271.0,103537.00,571566.00,6020.0,50308.0
Item Code,14197445.00,11840553.00,13535000.00,3538507.00,13285035.00,13511060.0,13185401.00,13795966.00,5424803.0,4729749.00,5350416.0,10450053.00,13535000.00,12421089.0,2035933.00,11329527.00,112545.0,1486528.0
Element Code,28068795.00,26026133.00,3435732.00,7282199.00,25406622.00,3329296.0,3163725.00,28834929.00,10292107.0,8926728.00,10313310.0,21388191.00,3385502.00,24066350.0,4211574.00,21464704.00,22995.0,2869905.0
Y2014,1996716.35,150020.64,10225.56,216927.89,1212332.49,454257.0,49650.63,274144.48,153223.0,78718.13,282923.0,1931287.75,11836.46,30149.0,21922.92,58749.83,1031585.0,416.0
Y2015,2021493.55,157614.47,10235.74,225050.22,1232361.10,453383.0,49345.13,267018.46,155439.0,66254.41,287929.0,1947019.39,11833.95,30045.0,23976.82,34910.99,1058081.0,349.0
Y2016,2044842.70,151920.46,10102.77,228958.65,1247022.17,451810.0,48985.28,286582.78,157787.0,69563.68,280631.0,1943537.15,11779.69,37224.0,23389.20,33140.12,1085107.0,89.0
Y2017,2088198.10,182338.80,10253.84,223705.68,1258888.28,454681.0,48690.04,294559.09,160614.0,91645.97,292836.0,2030056.89,11842.45,35500.0,24870.14,54316.91,1112641.0,91.0
Y2018,2161192.10,181594.80,10258.69,233489.68,1303841.28,455261.0,49056.85,287997.09,163902.0,91300.97,308429.0,2075072.89,11833.56,34864.0,25263.14,20577.91,1140605.0,90.0

In [16]:
#which of these element had the third lowest sum in 2018
fb = FBS.groupby(['Element'])
fb.sum().T
# answer = protein supply quantity

Element,Domestic supply quantity,Export Quantity,Fat supply quantity (g/capita/day),Feed,Food,Food supply (kcal/capita/day),Food supply quantity (kg/capita/yr),Import Quantity,Losses,Other uses (non-food),Processing,Production,Protein supply quantity (g/capita/day),Residuals,Seed,Stock Variation,Total Population - Both sexes,Tourist consumption
Area Code,708993.00,599910.00,675050.00,176272.00,663295.00,674057.0,658446.00,688174.00,274353.0,235554.00,271940.0,526751.00,675050.00,623271.0,103537.00,571566.00,6020.0,50308.0
Item Code,14197445.00,11840553.00,13535000.00,3538507.00,13285035.00,13511060.0,13185401.00,13795966.00,5424803.0,4729749.00,5350416.0,10450053.00,13535000.00,12421089.0,2035933.00,11329527.00,112545.0,1486528.0
Element Code,28068795.00,26026133.00,3435732.00,7282199.00,25406622.00,3329296.0,3163725.00,28834929.00,10292107.0,8926728.00,10313310.0,21388191.00,3385502.00,24066350.0,4211574.00,21464704.00,22995.0,2869905.0
Y2014,1996716.35,150020.64,10225.56,216927.89,1212332.49,454257.0,49650.63,274144.48,153223.0,78718.13,282923.0,1931287.75,11836.46,30149.0,21922.92,58749.83,1031585.0,416.0
Y2015,2021493.55,157614.47,10235.74,225050.22,1232361.10,453383.0,49345.13,267018.46,155439.0,66254.41,287929.0,1947019.39,11833.95,30045.0,23976.82,34910.99,1058081.0,349.0
Y2016,2044842.70,151920.46,10102.77,228958.65,1247022.17,451810.0,48985.28,286582.78,157787.0,69563.68,280631.0,1943537.15,11779.69,37224.0,23389.20,33140.12,1085107.0,89.0
Y2017,2088198.10,182338.80,10253.84,223705.68,1258888.28,454681.0,48690.04,294559.09,160614.0,91645.97,292836.0,2030056.89,11842.45,35500.0,24870.14,54316.91,1112641.0,91.0
Y2018,2161192.10,181594.80,10258.69,233489.68,1303841.28,455261.0,49056.85,287997.09,163902.0,91300.97,308429.0,2075072.89,11833.56,34864.0,25263.14,20577.91,1140605.0,90.0

In [17]:
#what is the total import quantity in australia in 2018
fb = FBS.groupby(['Area','Element'])
fb.sum().T
# answer = 36238.29

Area                          Algeria                  \
Element      Domestic supply quantity Export Quantity
Area Code                      464.00          392.00
Item Code                   311204.00       264011.00
Element Code                614916.00       579278.00
Y2014                        83755.94         1328.64
Y2015                        85972.86         1104.62
Y2016                        87157.61         1340.22
Y2017                        86810.42         1494.54
Y2018                        90023.42          811.54

Area                                                                   \
Element      Fat supply quantity (g/capita/day)       Feed       Food
Area Code                                432.00      88.00     420.00
Item Code                             291489.00   58967.00  282744.00
Element Code                           73872.00  121462.00  539910.00
Y2014                                    320.19    9656.04   60582.69
Y2015                                    317.40   10308.00   61693.49
Y2016                                    309.54    9903.00   63081.43
Y2017                                    320.74    9571.00   62785.33
Y2018                                    309.09   10668.00   63736.33

Area                                        \
Element      Food supply (kcal/capita/day)
Area Code                            432.0
Item Code                         291489.0
Element Code                       71712.0
Y2014                              13500.0
Y2015                              13512.0
Y2016                              13483.0
Y2017                              13363.0
Y2018                              13288.0

Area                                                                        \
Element      Food supply quantity (kg/capita/yr) Import Quantity    Losses
Area Code                                 420.00          448.00     208.0
Item Code                              282744.00       301030.00  139857.0
Element Code                            67725.00       628432.00  266396.0
Y2014                                    1556.45        34940.12    7231.0
Y2015                                    1552.81        37841.91    7471.0
Y2016                                    1555.77        36736.08    7405.0
Y2017                                    1516.94        36059.29    7428.0
Y2018                                    1509.28        36238.29    7708.0

Area                                ...        Zimbabwe            \
Element      Other uses (non-food)  ... Import Quantity    Losses
Area Code                   148.00  ...        20815.00    9774.0
Item Code                101269.00  ...       308730.00  144929.0
Element Code             190698.00  ...       645265.00  276642.0
Y2014                      3315.22  ...         2490.58     783.0
Y2015                      3483.37  ...         3244.03     746.0
Y2016                      3400.17  ...         3653.98     776.0
Y2017                      3534.08  ...         2083.84    1132.0
Y2018                      3970.08  ...         1673.84     891.0

Area                                                      \
Element      Other uses (non-food) Processing Production
Area Code                  7059.00    11041.0    17738.0
Item Code                106124.00   162480.0   261861.0
Element Code             201006.00   312991.0   540078.0
Y2014                       192.16     8492.0    16130.5
Y2015                       173.13     7914.0    14032.0
Y2016                       107.07     8261.0    14267.6
Y2017                       100.06     7852.0    15913.6
Y2018                       106.06     8300.0    16161.6

Area                                                                     \
Element      Protein supply quantity (g/capita/day) Residuals      Seed
Area Code                                  20453.00   18824.0    3439.0
Item Code                                 304589.00  277476.0   50560.0
Element Code                               76162.00  537680.0  105013.0
Y2014                                        184.23    -252.0     144.0
Y2015                                        175.31    -780.0     128.0
Y2016                                        172.72    -882.0     127.0
Y2017                                        175.31   -1083.0     162.0
Y2018                                        176.57    -546.0     140.0

Area
Element      Stock Variation Total Population - Both sexes
Area Code            17195.0                         181.0
Item Code           254157.0                        2501.0
Element Code        481840.0                         511.0
Y2014                 -644.0                       13587.0
Y2015                 -343.0                       13815.0
Y2016                  221.0                       14030.0
Y2017                  458.0                       14237.0
Y2018                 -447.0                       14439.0

[8 rows x 803 columns]

In [18]:
#total numbers of unique countries
FBS['Area'].nunique()
#answer = 49

49